.contSignUp {
    /* border: 1px solid red; */
    width: 90%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.divTitle {
    /* border: 1px solid blue; */
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: 2em;
    color: var(--primary);
}

.divForm {
    /* border: 1px solid green; */
    height: 65%;
    width: 100%;
}

.form {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* .form > label {
    font-family: 'Nunito';
    font-size: 2em;
} */

.inputBox {
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    width: 80%;
    padding: 2% 4%;
    font-family: 'Nunito';
    font-size: 1.5em;
}

.inputButton {
    width: 80%;
    border: none;
    border-radius: 10px;
    font-family: 'Nunito';
    padding: 2% 4%;
    font-size: 1.5em;
    transition: all 0.2s ease;
    background-color: var(--primary);
    color: white;
}
.inputButton:disabled {
    color: white;
    background-color: var(--secFont);
}
.inputButton:active {
    color: var(--priFont);
    background-color: var(--secFont);
}
.signup {
    width: 100%;
    height: 10%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.linkText {
    color: black;
    font-family: 'Nunito';
}


/* Small devices */
@media screen and (min-width: 576px) {
.contSignUp {
    /* background-color: red; */
    width: 30rem;
}
}
/* Medium devices */
@media screen and (min-width: 768px) {
    /* .contSignUp {
        background-color: blue;
    } */
    
}
/* Large devices */
@media screen and (min-width: 992px) {
    /* .contSignUp {
        background-color: green;
    } */
    
}
/* Extra large devices */
@media screen and (min-width: 1200px) {
    /* .contSignUp {
        background-color: orange;
    } */

}