.contHistory {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid blue; */
}
.divSearch {
    /* border: 1px solid green; */
    width: 100%;
    height: 10rem;
}
.divResults {
    /* border: 1px solid purple; */
    width: 100%;
    /* height: 6rem; */
}