.contHistory {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divSearch {
    width: 100%;
    height: 15rem;
}
.divResults {
    width: 100%;
}


/* Small devices */
@media screen and (min-width: 576px) {
}
/* Medium devices */
@media screen and (min-width: 768px) {
    .divSearch {
        width: 40rem;
    }
    .divResults {
        width: 40rem;
    }
}
/* Large devices */
@media screen and (min-width: 992px) {
    
}
/* Extra large devices */
@media screen and (min-width: 1200px) {

}