.backgroundCont {
    height: 100vh;
    padding: 1rem 0;
    width: 100%;
    /* background-color: grey; */
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(1.5px);
    /* border: 1px solid red; */
    overflow: hidden;
}
.contRegisterOper {
    /* border: 1px solid red; */
    background-color: var(--back);
    box-shadow: 0 0 15px var(--secFont);
    border-radius: 10px;
    width: 90%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: bornCard 0.5s;
}

.form {
    /* border: 1px solid green; */
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid var(--secFont);
    outline: none;
    width: 90%;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1em;
    transition: all 0.2s ease;
    background-color: var(--back);
    color: var(--priFont);
}
.input::placeholder {
    color: var(--priFont);
}
.input:focus {
    border: 1px solid var(--priFont);
}
.input > option {
    background-color: var(--back);
    /* background-color: red; */
    color: var(--priFont);
}
.submitButton {
    width: 90%;
    border-radius: 10px;
    padding: .5rem;
    border: none;
    background-color: var(--primary);
    color: var(--back);
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 1.5em;
    /* background-color: red; */
}
.submitButton:active {
    color: var(--priFont);
    background-color: var(--secFont);
}
.submitButton:disabled {
    color: var(--back);
    background-color: var(--secFont);
}
.cancelButton {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    font-family: 'Nunito';
    font-size: 1.2em;
    color: var(--priFont);
}

@keyframes bornCard {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}